<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/login">Santa Isabel</a>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <!-- style="background-image: url('assets/img/santaWP1.jpg');" -->
    <!-- data-image="assets/img/background/background-3.jpg" -->
    <div class="full-page login-page" data-image="assets/img/background/background-3.jpg">

        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form id="loginform">
                            <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
                            <div class="card" style="height: 340px;">
                                <div class="header text-center" style="padding-top: 20px; font-size: 22px; font-weight: bold;">Login</div>
                                <br><br>
                                <div class="content col-md-12">
                                    <div class="form-group">
                                        <label>Correo</label>
                                        <input type="email" id="correo" name="correo" placeholder="Ingrese usuario..." class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input type="password" id="clave" name="clave" placeholder="Ingrese contraseña..." class="form-control">
                                    </div>
                                </div>

                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-fill btn-info btn-wd">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>